<!doctype html>

<html lang="en">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="author" content="Carles Capellas" />
    <meta name="description" content="description" />

    <link href="/plugins/bootstrap-3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/font-awesome-4.4.0/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="<%= asset('css/main.css') %>" rel="stylesheet" type="text/css" />
</head>

<body>
    <button type="button" onclick="joinTable();" id="join-table">Join table</button>
    <button type="button" onclick="startRound();">Start round</button>
    <button type="button" onclick="endRound();">End round</button>
    <button type="button" onclick="clearRound();">Clear round</button>
    <button type="button" onclick="exitTable();">Exit table</button>
    <div id="results"></div>
  
    <script src="/plugins/jquery-2.1.1/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="/plugins/bootstrap-3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="<%= asset('js/app.js') %>" type="text/javascript"></script>

    <script>
        var playerId = '<%= playerId %>';
        var tableId = '<%= tableId %>';
        var interval;

        function render(stringifiedData) {
            var results = document.getElementById('results');
            results.innerHTML = '';

            var data = JSON.parse(stringifiedData);
            if (data.players) {
                var activePlayer = data.activePlayerId == null ?
                    null :
                    data.players.find(pl => pl.id == data.activePlayerId);

                data.players.forEach(p => {
                    var serializedHands = '';
                    if (p.handSet != null) {
                        serializedHands = p.handSet.hands.reduce((sH, hand) =>
                            sH + hand.cards.reduce((sC, card) => sC + card.symbol + card.suit + ', ', '') + ' (' + hand.score + ') ' + hand.status + ' / ', '');
                    }
                    results.innerHTML += p.name + ' (' + p.earningRate + '): ' + serializedHands;
                    if (p.id == playerId && activePlayer && p.id == activePlayer.id) {
                        results.innerHTML += '<button type="button" onclick="hit();">Hit</button>' +
                                                '<button type="button" onclick="stand();">Stand</button>' +
                                                '<button type="button" onclick="double();">Double</button>' +
                                                '<button type="button" onclick="split();">Split</button>';
                    }
                    results.innerHTML += '<br />';
                });

                var serializedHands = '';
                if (data.dealer.handSet != null) {
                    serializedHands = data.dealer.handSet.hands.reduce((sH, hand) =>
                        sH + hand.cards.reduce((sC, card) => sC + card.symbol + card.suit + ', ', '') + ' (' + hand.score + ')', '');
                }
                results.innerHTML += data.dealer.name + ': ' + serializedHands + '<br />';
            }
        }

        function clearRound() {
            $.get('/blackjack/clear-round').then(render);
        }

        function double() {
            $.get('/blackjack/make-decision?decision=Double').then(render);
        }

        function endRound() {
            $.get('/blackjack/end-round').then(render);
        }

        function exitTable() {
            $.get('/blackjack/exit').then(() => {
                $('#join-table').show();
                clearInterval(interval);
                var results = document.getElementById('results');
                results.innerHTML = '';
            });
        }

        function hit() {
            $.get('/blackjack/make-decision?decision=Hit').then(render);
        }

        function joinTable() {
            $.get('/blackjack/join').then(() => {
                $('#join-table').hide();
                interval = setInterval(() =>  $.get('/blackjack/get').then(render), 1000);
            });
        }

        function split() {
            $.get('/blackjack/make-decision?decision=Split').then(render);
        }

        function stand() {
            $.get('/blackjack/make-decision?decision=Stand').then(render);
        }

        function startRound() {
            $.get('/blackjack/start-round').then(render);
        }

        $(function() {
            if (tableId != '') {
                $('#join-table').hide();
                interval = setInterval(() =>  $.get('/blackjack/get').then(render), 1000);
            }
        });
    </script>

</body>
</html>